@model List<Domain.Models.Mentorship>

<div id="outgoing-requests" hx-swap-oob="true" hx-swap="outerHTML">
    @if (Model.Count == 0)
    {
        @await Html.PartialAsync("_OutgoingRequests_NoRequestsFound.cshtml", null)
    }
    else
    {
        @foreach (var mentorshipRequest in Model)
        {
            @await Html.PartialAsync("_OutgoingRequests_Card", mentorshipRequest)
        }
    }
</div>