@page
@model MoreSpeakers.Web.Pages.Mentorship.Browse
@{
    ViewData["Title"] = "Find a Mentor";
}
<p class="lead">We do not use this page anymore.  We are keeping it to redirect users that have it bookmarked</p>
