@model Web.Models.ViewModels.UserSocialMediaSiteRowViewModel

@{
    var socialMediaSiteId = Model.UserSocialMediaSite?.SocialMediaSiteId ?? 1;
    var socialId = Model.UserSocialMediaSite?.SocialId ?? string.Empty;
}

<div class="row mb-2 social-media-row" id="SocialMediaItem-@Model.ItemNumber" data-id="@Model.ItemNumber">
    <div class="col-md-4">
        <select name="Input.SocialMediaSiteId[@Model.ItemNumber]" class="form-select" 
                asp-items="Model.SocialMediaSites.Select(s => new SelectListItem(s.Name, s.Id.ToString()))"
                asp-for="@socialMediaSiteId">
        </select>
    </div>
    <div class="col-md-7">
        <input name="Input.SocialId[@Model.ItemNumber]"
               class="form-control"
               placeholder="Social Media Id. Not the full url, just the id."
               value="@socialId"/>
    </div>
    <div class="col-md-1">
        <button class="btn btn-danger" type="button" onclick="document.getElementById('SocialMediaItem-@Model.ItemNumber').remove();"><i class="bi bi-trash"></i></button>
    </div>
</div>
