@model Web.Models.ViewModels.UserSocialMediaSiteEdit

@if (Model.UserSocialMediaSite is null)
{
    <div class="row mb-2">
        <div class="col-md-4">
            <select name="Input.SocialMediaPlatforms[@Model.ItemNumber]" class="form-select" asp-items="Model.SocialMediaSites.Select(s => new SelectListItem(s.Name, s.Id.ToString()))">
            </select>
        </div>
        <div class="col-md-8">
            <input name="Input.SocialMediaUrls[@Model.ItemNumber]"
                   class="form-control"
                   placeholder="Social Media Id. Not the full url, just the id."
                   value=""/>
        </div>
    </div>
}
else
{
    <div class="row mb-2">
        <div class="col-md-4">
            <select name="Input.SocialMediaPlatforms[@Model.ItemNumber]" class="form-select" 
                    asp-items="Model.SocialMediaSites.Select(s => new SelectListItem(s.Name, s.Id.ToString()))"
                    asp-for="@Model.UserSocialMediaSite.SocialMediaSite.Id">
            </select>
        </div>
        <div class="col-md-8">
            <input name="Input.SocialMediaUrls[@Model.ItemNumber]"
                   class="form-control"
                   placeholder="Social Media Id. Not the full url, just the id."
                   value="@(Model.UserSocialMediaSite.SocialId ?? string.Empty)"/>
        </div>
    </div>
}
