@page
@model MoreSpeakers.Web.Areas.Admin.Pages.Catalog.UtilitiesModel
@{
    ViewData["Title"] = "Utilities";
}

<h1 class="mb-4">Utilities</h1>

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Index">Admin</a></li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-10">
            Regenerate all the Open Graph Speaker Cards?
        </div>
        <div class="col-2">
            <form method="post" asp-page-handler="Regenerate" class="d-inline">
                <button type="button" class="btn btn-sm btn-outline-primary" title="Regenerate"
                        hx-post="?handler=Regenerate"
                        hx-target="#regenerate-status"
                        hx-swap="outerHTML">
                    <i class="bi bi-file-image"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <partial name="_Utilities_RegenerateStatus.cshtml" model="0"/>
    </div>
</div>
