@model MoreSpeakers.Web.Models.ViewModels.SearchResultCountViewModel
<div id="total-count" hx-swap-oob="true" hx-swap="outerHTML" class="col-4 d-flex align-items-center">
    @switch (Model.TotalResults)
    {
        case 0:
            <p>No speakers were found</p>
            break;
        case 1:
            <p><strong>1</strong> speaker found</p>
            break;
        default:
            <p class="m-0"><strong>@Model.TotalResults</strong> speakers found</p>
            break;
    }
</div>
<div id="clear-filters" hx-swap-oob="true" hx-swap="outerHTML" class="col-4 d-flex align-items-center">
    @{
        var isVisible = Model.AreFiltersApplied ? "" : "d-none";
    }
    <a asp-page="/Speakers/Index" class="btn btn-secondary btn-sm ms-2 @isVisible">
        <i class="bi bi-x-circle"></i> Clear Filters
    </a>
</div>
