@model MoreSpeakers.Domain.Models.Mentorship

@{
    Layout = "~/Pages/Shared/_EmailLayout.cshtml";
}

<!-- Content goes here, don't forget to update the model above -->

<p>Hey @Model.Mentor.FullName, </p>

<p>We wanted to let you know that @Model.Mentor.FullName declined the mentorship request from you. We understand that this news may not be the best at this time but just know that there are many great mentors at MoeSpeakers.com.</p>

<p>Please keep looking at the list of possible mentors. We know there is a great match for you coming soon.</p>

<p>Thank you again for being a part of the MoreSpeakers community and if you have any questions please contact Chris Woody Woodruff at [cwoodruff@live.com](mailto:cwoodruff@live.com)  or Joe Guadagno at [jguadagno@hotmail.com](mailto:jguadagno@hotmail.com) </p>